body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(/images/brick-background.avif);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-part {
  background-color: gray;
  opacity: 0.9;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  transition: all 0.2s;
  cursor: pointer;
}
.start-part:hover {
  background-color: rgb(87, 87, 87);
}
.start-part:active {
  opacity: 0.7;
}

.input-part-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.input-part-container .top-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  background-color: darkgray;
}
.input-part-container .top-side .svg-container {
  padding: 0px;
  margin-right: 15px;
}
.input-part-container .top-side svg {
  width: 50px;
  height: 50px;
  stroke: rgb(42, 89, 230);
}
.input-part-container .top-side .input-container {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
}
.input-part-container .top-side .input-container input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  outline-style: none;
}
.input-part-container .bottom-side {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(42, 41, 41);
}
.input-part-container .bottom-side button {
  padding: 5px 7px;
  border: 1px solid darkgray;
  background-color: gray;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 10px;
}
.input-part-container .bottom-side button:hover {
  background-color: rgb(96, 96, 96);
}

/* ====== Keyboard Part Started Here ====== */
.keyboard-container {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  padding: 20px 15px;
  border-radius: 10px;
  z-index: 10;
}

.keyboard-top-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.keyboard-top-part svg {
  height: 30px;
  width: 30px;
}
.keyboard-top-part svg:nth-child(1) {
  stroke: limegreen;
}
.keyboard-top-part svg:nth-child(2) {
  stroke: orange;
}
.keyboard-top-part svg:nth-child(3) {
  stroke: red;
}

.keyboard-buttons-part > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.keyboard-buttons-part > div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
  width: 100%;
  gap: 5px;
  padding: 3px 0px;
}
.keyboard-buttons-part > div:nth-child(1) div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 20px 10px;
  background-color: gray;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.15s;
}
.keyboard-buttons-part > div:nth-child(1) div:hover {
  background-color: rgb(106, 106, 106);
  cursor: pointer;
}
.keyboard-buttons-part > div:nth-child(1) div:active {
  color: blue;
  background-image: linear-gradient(0deg, white, lightgray);
}
.keyboard-buttons-part > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
  width: 100%;
  gap: 5px;
  padding: 3px 0px;
}
.keyboard-buttons-part > div:nth-child(2) div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 20px 10px;
  background-color: gray;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.15s;
}
.keyboard-buttons-part > div:nth-child(2) div:hover {
  background-color: rgb(106, 106, 106);
  cursor: pointer;
}
.keyboard-buttons-part > div:nth-child(2) div:active {
  color: blue;
  background-image: linear-gradient(0deg, white, lightgray);
}
.keyboard-buttons-part > div:nth-child(3) {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  color: white;
  gap: 5px;
  padding: 3px 0px;
}
.keyboard-buttons-part > div:nth-child(3) div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 20px 10px;
  background-color: gray;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.15s;
}
.keyboard-buttons-part > div:nth-child(3) div:hover {
  background-color: rgb(106, 106, 106);
  cursor: pointer;
}
.keyboard-buttons-part > div:nth-child(3) div:active {
  color: blue;
  background-image: linear-gradient(0deg, white, lightgray);
}
.keyboard-buttons-part > div:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6fr 1fr 2fr;
  color: white;
  gap: 5px;
  padding: 3px 0px;
}
.keyboard-buttons-part > div:nth-child(4) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 20px 10px;
  background-color: gray;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.15s;
}
.keyboard-buttons-part > div:nth-child(4) > div:hover {
  background-color: rgb(106, 106, 106);
  cursor: pointer;
}
.keyboard-buttons-part > div:nth-child(4) > div:active {
  color: blue;
  background-image: linear-gradient(0deg, white, lightgray);
}

.setting-svg, .language-svg {
  width: 25px;
  height: 25px;
}

/* ====== More Buttons ====== */
.more-settings {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  background-color: black;
  border-radius: 10px;
  place-self: end;
  color: white;
}
.more-settings > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.more-settings > div div {
  width: 100%;
  height: 100%;
  margin: 3px;
  background-color: gray;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.5;
  font-size: large;
  text-align: center;
  padding: 20px 10px;
  transition: all 0.15s;
  cursor: pointer;
}
.more-settings > div div:hover {
  background-color: rgb(106, 106, 106);
}
.more-settings > div div:active {
  color: blue;
  background-image: linear-gradient(0deg, white, lightgray);
}

.more-settings > div:nth-child(2) > div:nth-child(2), .more-settings > div:nth-child(2) > div:nth-child(3), .more-settings > div:nth-child(2) > div:nth-child(4) {
  padding: 20px;
}

.color {
  color: blue;
  background-image: linear-gradient(0deg, white, lightgray);
}

.animateShow {
  opacity: 0;
  transform: translateX(100%);
  animation: animationShow 0.3s linear 0s 1 alternate both;
}

@keyframes animationShow {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animateHide {
  opacity: 1;
  transform: translateX(0);
  animation: animationHide 0.3s linear 0s 1 alternate both;
}

@keyframes animationHide {
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}/*# sourceMappingURL=style.css.map */